*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li{
list-style: none;
}

body{
    background-color: blue;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.toDo_title{
    color: white;
}

.toDo{
    width: 350px;
    height: 350px;
    border: 2px solid rgb(110, 110, 149);
    margin-top: 50px;
    
}

.toDo_entry{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.toDo_entry_input{
    width: 280px;
    height: 30px;
    padding-left: 10px;
    margin-right: 10px;
}

.toDo_entry_button{
  color: aliceblue;

}

.toDoPlanListWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 67);
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
}
.toDoPlanListItem{
    color: white;
}

.toDoPlanRemoveButton{
    color: rgb(10, 10, 67);
    margin-right: -30px;
    /* display: flex;
    align-items: center; */
}
